$biMargin:0.8rem;

.navbar {
    //position: fixed;
    left: 0;
    height: 100%;
    align-items: flex-start;
    color:gray;
    

    .container-fluid {

        a {
            display: flex;
            margin-bottom: 0.2rem;
            font-size: 1rem;
            color: gray;
            .bi{
                margin-right: $biMargin;
            }
            svg{
                margin-right: 0.4rem;
            }
        }
    }
#divisore{
    margin:0 0 0 0 ;
}
}
.hmcont{
    position: absolute;
    top: 0px;
    left: 214px;
    .cardImg{
        img{
            height:100%;
        }
    }
}