
@import url('https://fonts.cdnfonts.com/css/gotham-bold');
.back{
    background-color: black;
}


html{
    background-color:black;
}
body{
    background-color: rgb(29, 29, 29);
    color: white;
}

.navbar {
    position: fixed;
    left: 0;
    height: 100%;
  }
  

  /* Carta Top */


  .bgbg{
   display: none;     
  }

.myCard{
    width:200px;
    max-height:100%;
    background-color: rgb(75, 75, 75);
}

.Big{
  font-size: 500%;
}
.play{
    background-color: rgb(14, 192, 14);
    width: 5em;
    color: black;
    font-weight: 500;
    border-radius: 20rem;
    border:none;
}

.salva{
    width: 5em;
    color: white;
    font-weight: 500;
    border-radius: 20rem;
    border-color: rgb(165, 165, 165);
}

.salva:hover{
    border-color: white;
    transform: scale(1.1);
}

.play:hover{
    transform: scale(1.1);
    border: 1px solid white;
}
.canzone{
    margin-right: 20px;
}
.annunci{
    border-radius: 30px;
    border: none;
    color: rgb(167, 167, 167);
    background-color: rgb(32, 32, 32);
    font-size: 0.8rem;
}
.dots{
    color: white;
}

  .Topcard{
    width: 100%;
  }
  .immargin{
    width: 250px;
    height: 250px;
  }
  .image_t{
    -webkit-box-shadow: -2px 5px 15px 3px rgba(0,0,0,0.51); 
    box-shadow: -2px 5px 15px 3px rgba(0,0,0,0.51);
    width: 100%;
    height: 100%;
  }
/* Carte canzoni */
  .cartecanz{
    background-color: rgb(41, 41, 41)


  }

  .hoveraggio:hover{
    background-color: #505050;
    transition: all 0.5s;
  }

  .hoverAlbum:hover{
    background-color: #505050;
    transition: all 0.1s;
  }

 
  .main {
    margin-left: 340px;
    margin-right: 200px;
    padding: 0px 10px;
  }


  .topnavalbum{
    background-color: transparent;
  }
  .bottone{
    background-color: #242424;
    border-radius:50% ;
    color: white;
    opacity:0.7;
  }


  #uno{
    display:none;
    width: 20vw;
    top: 0;
    left: 0;
    background-color: black;
}

#container{
    position: relative;
}

#due{
    
background-color: black;
}
#tre{
display: none;
}
.TreAlbum{
    position: fixed;
    right: 0;
    height: 100%;
    width: 210px;
    top: 0;
    z-index: 3;
}
.ciao{
    position: fixed;
    top:0;
    right: 0;
    display: flex;
    flex-direction: column;
}

#unoC{
    position: fixed;
}
#quattro{
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.ciao{
    position: fixed;
    top:0;
    right: 0;
    display: flex;
    flex-direction: column;
}

#SX{
    position: fixed;
    left: 0;
    margin-right: 10px;
}
#dx{
    position: fixed;
    right: 0;
    margin-right: 10px;
    width: 10%;
}
#footer{
    border-top: 0.5px solid rgb(75, 75, 75);
    height: 50px;
    width: 93%;
    background-color:rgb(51,51,51);
    position: fixed;
    bottom: 62px;
    left: 12px;
    font-size: 10px;
    z-index: 100;
    border-radius: 0.7em;
}
#center{
    margin: 0 auto;

}


#audio{
    background-color: #2c2c2cc1 ;
    
    color: rgb(5, 178, 36);
    
}
#audio2{
    width:4rem;
    background-color: #dcdcdcc1 ;
    
    color: rgb(5, 178, 36);
}

.cards-row{
    margin-left: 0.8em;
    margin-right: 0.8em;
}

#topCont{
    display:none;
}

#unoA{
    width: 73vw;
    position: absolute;
    left: 14.4em;
    z-index: 100;
    position: fixed;
}


.icon-pr{
    font-size: 15px;
}


#trec{
  height: 100%;
}
#account{
  height: 25px;
  width: 180px;
  border-radius: 20px;
  background-color: black;
  border: none;
  color: white;
}

.form-control{
    height: 26px;
}
.btn-my{
    font-size: 10px;
}
.img{
    width: 40px;
}

.play2{
    background-color:rgb(5, 178, 36) ;
    border-radius: 100%;
    height: 60px;
    
}
.play2:hover{
    color: black;
    background-color: rgb(33, 172, 58);
    
}
.playcenter{
    margin-top: 6px;
    margin-left: 2px;
}
.bgbgAlbum{
    border: none;
    background: transparent;
}
.albumlist{

    background-color: rgb(29, 29, 29, 0.2);
    height: 100%;
    width: 100%;
}
.CentroAlbum{
    padding-bottom: 80px;
}
.Centerfade{

    background-color: rgb(29, 29, 29,);
    height: 100%;
    padding-left: 50px;
}
.bordosotto{
    border-bottom: solid white 1px;
}
#buttonHover{
    transition:box-shadow 0.5s linear;
}

.navbar-brand{
    border:none;
    border-radius: 10px;
transition: box-shadow 0.5s color 0.5s linear;
}
.navbar-brand:hover{
    -webkit-box-shadow: inset 5px 5px 100px -92px #FFFFFF;
    -moz-box-shadow: inset 5px 5px 100px -92px #FFFFFF;
    -o-box-shadow: inset 5px 5px 100px -92px #FFFFFF;
    box-shadow: inset 5px 5px 100px -92px #FFFFFF;
    color: white;
}

.playerFooter{
    display: flex;
    align-items: center;
    margin: 0 0.5em 0 1em;
    font-size: 2em;
    justify-content: space-between;
    height: 50px;
}
.playerFooter p{
    font-size: 0.6em;
}
.playerIcons{
    display: flex;
    justify-content: space-between;
    width:5em;
}
.playerLarge{
    display:none;
}
.disc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:6.5em;
}

.disc a{
    opacity: 0.3;
}

#buttonHover:hover{
    -webkit-box-shadow: inset -1px 4px 31px 0px #FFFFFF,4px 5px 28px 10px #000000;
    -moz-box-shadow: inset -1px 4px 31px 0px #FFFFFF,4px 5px 28px 10px #000000;
    -o-box-shadow: inset -1px 4px 31px 0px #FFFFFF,4px 5px 28px 10px #000000;
    box-shadow: inset -1px 4px 31px 0px #FFFFFF,4px 5px 28px 10px #000000;
}
.topMobile{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 0.6rem 1em;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 2;
    background-color: black;
}

.topMobile p{
    font-size:1.4rem;
}
.topM{
    width: 4.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Music{
    background-color:black!important;
    border-radius: 2em;
    border-color: transparent;
    font-size:0.9rem
}
#buttons{
    display: flex;
    width: 196px;
    justify-content: space-between;
    margin-left: 2em;
    margin-top: 1.5em;
    padding-top: 2em;
}

#sottoFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    bottom: -3px;
    width: 100%;
    z-index: 100;
    left: 0;
}

#sottoFooter a:link {
    text-decoration: none;
}


.iconaSotto{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
}
  
.iconaSotto p{
    margin-bottom: 0;
}

.mobileIconCont{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 0.8em;
    font-size: 1.5rem;
}
.heartDots{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
}

.heartDots:nth-child(2){
    width: 80px;
}

.cardLeft{
    width: 120px;
}
.cardRight{
    display: flex;
    justify-content: space-between;
    width:240px;
}
.one{
    padding:0.7em;
}
.HmBody{
    display:none;
}
.boh{
    display:none;
}
.topnav{
    margin-top: 20px;
}
#playlistMobile{
    display:block;
}
.rounded-circle{
    padding: 0.2rem;
    top: 6px;
    left: 2px;
    background-color: blue;
}
.disc p{
    width: 8em;
}
#input_search::placeholder{
    color:white;
}
#input_search{
    background-color: rgba(51,51,51,0.4);
    height:42px;
    border-color: rgba(51,51,51,0.30);
    color: white;
}

.genereBtn{
    width: 135px;
    height: 80px;
}

.genereBtn span{
    position: absolute;
    top: 6px;
    left: 7px;
    color: white;
}

.genere1{
    background-color:rgb(225, 51, 0) ;
}
.genere2{
    background-color:#1E3264 ;
}
.genere3{
    background-color:#E8125D ;
}
.genere4{
    background-color:#278A08 ;
}
.genere5{
    background-color:#BC5800 ;
}
.genere6{
    background-color:#D84000 ;
}
.genere7{
    background-color:#E1108B ;
}
.genere8{
    background-color:#8C67AC;
}

@media screen and (min-width:700px) {
    #uno{
position: absolute;
display:block;
    }
    #due{
       position: absolute;
       left: 14.4em;
   float: left;
   right: 209px;
    }
    #tre{
       display:block;
           position: fixed;
   right: 0;
   height: 100%;
   width: 200px;
   top: 0;
   z-index: 3;
    }
    .topnav{
       margin-top: 0;
       height:50px; 
       width: 100%; 
       z-index: 1; 
       top: 0; 
       background-color: transparent;
       overflow-x: hidden;
       position: sticky;
       top: 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
    }
    .topnavalbum{
        margin-top: 0;
        background-color: transparent;
    }
    .playerLarge{
        margin:0.5rem;
        display: flex;
        justify-content: space-between;
    }
    .playerFooter{
        display:none
    }
    #footer{
        height:70px;
        background-color: black;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    #topCont{
        display: flex;
        justify-content: space-between;
    }
    .topMobile{
        display: none;
    }
    .bgbg{
        display: block;
        background: linear-gradient(6deg, rgba(0,0,0,1) 38%, rgb(29, 29, 29) 76%);
        background: rgb(0,0,0);
        font-family: 'Gotham Bold', sans-serif;
        border: none;
        width: 100%;
    }
    .HmBody{
        display:block;
    }
.boh{
    display:block;
}
#buttons{
    display: none;
}
#playlistMobile{
    display:block;
}
html{
    background-color: transparent;
}
.one{
    display: none;
}
#sottoFooter{
    display: none;
}
}
 
#piaciute{
    width: 100%;
    height: 100px;
    border: 1px solid wheat;
}